<!DOCTYPE html>
<html>
<head>
<title>Secelt Form</title>
<script type="text/javascript">
function setForm(value) {

    if(value == 'form1'){
                document.getElementById('form1').style='display:block;';
                document.getElementById('form2').style='display:none;';
            }
            else {

                document.getElementById('form2').style = 'display:block;';
                document.getElementById('form1').style = 'display:none;';
            }

}

</script>
</head>
<body>
<div id="form1">
<label>Form 1</label>
<form  method="post"  name="firstform" action="">
<button id="btn1" value="Select All">Select All</button>
<button id="btn3" value="Delete CheckBox">Delete CheckBox</button>  <br><br>
<input type="checkbox" name="chk" value="One" id="ck1">One</input><br>
<input type="checkbox" name="chk" value="Two" id="ck2">Two</input><br>
<input type="checkbox" name="chk" value="Three" id="ck3">Three</input<br>
<input type="checkbox" name="chk" value="Four" id="ck4">Four</input>br>
<input type="checkbox" name="chk" value="Five" id="ck5">Five</input>br>
<button id="btn4" value="Status"">Status</button>
</form><hr>
    </div>
<div  id="form2" style="display: none">
<label>Form 2</label>
<form name="secondform" action="">
Name : <input type="text" name="name" placeholder="Enter Your Name"><br><br>
Email : <input type="text" name="email" placeholder="Enter Email id"><br><br>
<button id="btn5" name="chk" >Submit</button>
</form><hr>
</div>
<label>Select Form</label>
<select id="select1" onchange="setForm(this.value)">
<option value="form1">Form 1</option>
<option value="form2">Form 2</option>
</select>

</body>
</html>